body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4    ;
}

#container{
    display: flex;
}


#sidebar{
    padding: 40px 0 0 50px;
    /* max-width: 150px; */
    width: 175px;
    position: fixed;
}

#logo{
    max-width: 50px;
    padding-bottom: 25px;
}

#sidebar a{
    display: block;
    padding-bottom: 3%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
}

#sidebar a:hover{
    font-style: italic;
}

#photo-grid{
    margin-left: 16%;
    display: grid;
    padding-top: 160px;
    padding-left: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(18, 75px);
    grid-gap: 30px;
    width: 70%;
    justify-content: center;
}


#project-11{
    grid-row: span 4;
}

#project-10{
    grid-row: span 5;
}

#project-9{
    grid-row: span 4;
}

#project-8{
    grid-row: span 3;
}

#project-7a{
    grid-row: span 3;

}

#project-7{
    grid-row: span 5;
}


#project-6{
    grid-row: span 4;

}


#project-5{
    grid-row: span 4;
}

#project-4{
    grid-row: span 5;

}

#project-3{
    grid-row: span 5;

}

#project-2{
    grid-row: span 3;
}

#project-1{
    grid-row: span 3;
}

/* project */

.project {
    background-color: transparent;
    perspective: 1000px; 
}

.project-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.project:hover .project-inner {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.project-front {
    background-color: #bbb;
    color: black;
}

.project-front img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
    position: relative;
}

.project-back-descr{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-back-descr h1{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 3px;
}

.project-back-descr p{
    margin: 0;
}

/* dropdown CSS */

.dropbtn {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Work Sans';
    border: none;
    cursor: pointer;
    padding: 0;
    padding-top: 5px;
    outline: none;
    background-color: white;
}

.dropbtn:hover{
    font-style: italic;
    background-color: white;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
    display: none;
    font-weight: bold;
    font-family: 'Work Sans';
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 1;

}

.dropdown-content button{
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    border: none;
    font-size: 16px;
    font-family: 'Work Sans';
    outline: none;
    background-color: white;
}

.dropdown-content button:hover{
    font-style: italic;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* about page CSS */

#about{
    padding-left: 10px;
    margin-left: 16%;
    width: 70%;
    padding-top: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#content{
    max-width: 700px;
    /* padding-top: 50px;*/
    padding-right: 50px; 
    
}

#content p{
    margin: 0;
    font-size: 18px;
}

#content h1{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#content h2{
    margin: 0;
    font-size: 18px;
    padding-bottom: 30px;
}

#rosieheadshot{
    width: 80%;
    object-fit: cover;
    max-width: 400px;
    text-align: center;
}

#links{
    display: flex;
}

#links img{
    margin: 50px 30px 0px 0px;
    width: 35px;
}

/* contact page CSS */

#contact{
    padding-left: 75px;
    margin-left: 16%;
    width: 80%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    text-align: left;
}

form{
    padding-top: 180px;
    display: block;
    font-family: 'Work Sans';
    width: 80%;
    max-width: 400px;
}

form input{
    font-size: 16px;
    display: block;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    outline: none;
}

button{
    font-size: 16px;
    font-family: 'Work Sans';
    background-color: whitesmoke;
    outline: none;
}

#message{
    height: 250px;
    vertical-align: top;
}

#bizcard{
    padding-top: 60px;
    width: 90%;
    object-fit: cover;
    max-width: 700px;  
    margin: 0;
}

/* project pages CSS */

.project-content{
    padding-left: 75px;
    margin-left: 16%;
    width: 70%;
    padding-top: 180px;
    padding-right: 0;
    align-items: center;
}

.project-text{
    max-width: 800px;
}

.project-name{
    font-size: 20px;
    margin: 0;
}

.project-tags{
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    color: #4c4c4c;
}


.project-photos img{
    /* max-width: 1400px; */
    width: 90%;
    padding: 2% 0;
    text-align: center;
}

.gif{
    width: 90%;
    text-align: center;
}
.gif img{
    /* max-width: 1400px; */
    width: 260px;
    padding: 2% 0;
}

.project-photos video{
    /* max-width: 1400px; */
    width: 90%;
    padding: 2% 0;
}

/* responsive */

@media only screen 
    and (max-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2){

    #sidebar{
        padding: 10px 0 0 10px;
        /* max-width: 150px; */
        width: 10%;
        position: fixed;
        font-size: .7em;
    }

    #logo{
        width: 25px;
        padding-bottom: 10px;
    }

    .dropbtn{
        font-size: 1em;
        width: 100%;
    }

    .dropdown-content button{
        font-size: .9em;
        text-align: left;
    }

    #photo-grid{
        margin-left: 16%;
        display: grid;
        padding-top: 100px;
        padding-left: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(19, 25px);
        grid-gap: 15px;
        width: 70%;
        justify-content: center;
    }
    
    #about{
        padding-top: 80px;
        padding-left: 20px;
        grid-template-columns: 1fr;
    }

    #about h1, h2{
        font-size: 1em;
    }

    #about p{
        font-size: .9em;
    }

    #links img{
        margin: 30px 30px;
        width: 20px;
    }

    #contact{
        padding-left: 30px;
        display: block;   
     }

    form{
        padding-top: 80px;
    }

    form input{
        font-size: .9em;
    }

    #bizcard{
        padding-top: 0;
    }

    .project-content{
        padding-left: 50px;
        padding-top: 100px;
    }

    .project-name{
        font-size: .9em;
    }
    
    .project-tags, .project-info{
        font-size: .8em;
    }

    /* .project-back-descr{
        display: none;
    } */

    .project-back-descr{
        font-size: .7em;
    }

}

@media only screen 
    and (max-width: 480px)
    and (min-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2){

    #sidebar{
        padding: 10px 0 0 10px;
        /* max-width: 150px; */
        width: 10%;
        position: fixed;
        font-size: .8em;
    }

    #logo{  
        width: 30px;
        padding-bottom: 10px;
    }

    .dropbtn{
        font-size: 1em;
        width: 100%;
    }

    .dropdown-content button{
        font-size: .9em;
        text-align: left;
    }

    #photo-grid{
        margin-left: 16%;
        display: grid;
        padding-top: 85px;
        padding-left: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(19, 25px);
        grid-gap: 15px;
        width: 70%;
        justify-content: center;
    }

    #about{
        padding-top: 55px;
        padding-left: 20px;
        grid-template-columns: 1fr;
    }

    #about h1, h2{
        font-size: 1em;
    }

    #about p{
        font-size: .9em;
    }

    #links img{
        margin: 30px 30px;
        width: 20px;
    }

    #contact{
        margin-left: 16%;
        display: block;   
     }

    form{
        padding-top: 95px;
    }

    form input{
        font-size: .9em;
    }

    #bizcard{
        padding-top: 0;
    }

    .project-content{
        padding-left: 20px;
        padding-top: 105px;
    }

    .project-name{
        font-size: .9em;
    }
    
    .project-tags, .project-info{
        font-size: .7em;
    }

    /* .project-back-descr{
        display: none;
    } */

    .project-back-descr{
        font-size: .8em;
    }

}


@media only screen 
    and (max-width: 619px)
    and (min-width: 481px) 
    and (-webkit-min-device-pixel-ratio: 1){

   #sidebar{
        padding: 30px 0 0 30px;
        /* max-width: 150px; */
        width: 10%;
        position: fixed;
    }

    #photo-grid{
        margin-left: 10%;
        display: grid;
        padding-top: 160px;
        padding-left: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(19, 40px);
        grid-gap: 25px;
        width: 70%;
        justify-content: center;
    }

    #about{
        margin-left: 16%;
        display: block;
    }

    #links img{
        margin: 30px 30px;
        width: 30px;
    }

    #contact{
        margin-left: 16%;
        display: block;   
     }

    form{
        padding-top: 150px;
    }

    form input{
        font-size: .9em;
    }

    #bizcard{
        padding-top: 0;
    }

    .project-content{
        margin-left: 16%;
        padding-top: 160px;
    }
    
   /* .project-back-descr{
        display: none;
    } */

}

@media only screen 
    and (max-width: 779px)
    and (min-width: 620px) 
    and (-webkit-min-device-pixel-ratio: 1){

   #sidebar{
        padding: 30px 0 0 30px;
        /* max-width: 150px; */
        width: 10%;
        position: fixed;
    }

    #photo-grid{
        margin-left: 10%;
        display: grid;
        padding-top: 160px;
        padding-left: 75px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 40px);
        grid-gap: 25px;
        width: 70%;
        justify-content: center;
    }

    #about{
        margin-left: 10%;
    }

    #links img{
        width: 25px;
    }

    #contact{
        margin-left: 16%;
        display: block;   
     }

    form{
        padding-top: 150px;
    }

    #bizcard{
        padding-top: 0px;
    }

    .project-content{
        margin-left: 16%;
        padding-top: 160px;
    }
}

@media only screen 
    and (max-width: 1024px)
    and (min-width: 780px) 
    and (-webkit-min-device-pixel-ratio: 1) {
    
    #sidebar{
        padding: 30px 0 0 30px;
        /* max-width: 150px; */
        width: 10%;
        position: fixed;
    }
    
    #photo-grid{
        margin-left: 10%;
        display: grid;
        padding-top: 160px;
        padding-left: 75px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 60px);
        grid-gap: 25px;
        width: 70%;
        justify-content: center;
    }

    #about{
        margin-left: 10%;
    }

    #contact{
        margin-left: 16%;
     }

    form{
        padding-top: 175px;
    }

    #bizcard{
        padding-top: 130px;
    }

    .project-content{
        margin-left: 16%;
        padding-top: 160px;
    }
}
